html {
  scroll-behavior: smooth;
}

.heading {
  font-size: 35px;
  text-align: center;
  margin: 30px auto;
}
.about_btn {
  /* width: 20vw; */
  margin-top: 20px;
  width: 120px;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #ccc;
}
.about_btn:hover {
  background-color: rgb(126, 126, 241);
}

#navbar {
  width: 100vw;
  height: 60px;
  padding: 0% 10%;
  background-color: rgb(81, 81, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  opacity: 99%;
}
#navbar.scrolled {
  background-color: rgb(115, 115, 249);
}
  

#navbar > .logo {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Miss Saint Delafield';
  /* font-family: 'Courgette'; */
}

#navbar > .navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
}

#navbar > div:nth-child(2) > div {
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}
#burger_menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

#burger_items {
  width: 100%;
  display: none;
  padding: 10px;
  font-size: 22px;
  position: fixed;
  z-index: 1;
  background-color: rgb(157, 157, 235);
}
#burger_items > div {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
}
#burger_items > div:hover {
  background-color: rgb(121, 121, 215);
}

#burger_items > div > i {
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}
#burger_items > div > i:hover {
  background-color: red;
}

#header {
  margin: auto;
  width: 80vw;
  /* height: 80vh; */
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
}

#header > h1 {
  font-size: 50px;
  text-align: center;
  width: 60vw;
  margin: 20px auto;
}
#header > h2 {
  font-size: 30px;
  text-align: center;
  width: 60vw;
  margin: 20px auto;
}
#header > h3 {
  font-size: 22px;
  text-align: center;
  width: 60vw;
  margin: 20px auto;
}
#header > .contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 40vw;
  margin: 20px auto;
  height: 50px;
}

#aboutMe {
  margin: auto;
  width: 80%;
}

#aboutMe > .aboutMe-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
}
#aboutMe > .aboutMe-container > div > img {
  width: 100%;
  border-radius: 30px;
  /* border-radius: 100%; */
  /* border: 1px solid #ccc; */
}
#aboutMe > .aboutMe-container > div > h3 {
  line-height: 30px;
}
#aboutMe > .aboutMe-container > div > h3 >span{
  color: rgb(217, 32, 32);
  font-size: 20px;
}

#skills {
  width: 80%;
  margin: auto;
}
#skills > #skills-container {
  width: 100%;
  /* padding: 5% 10%; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
#skills > #skills-container > div {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}
#skills > #skills-container > div:hover {
  transform: scale(1.05);
}
#skills > #skills-container > div > img {
  width: 100%;
  border-radius: 10px;
}

#myStatistics {
  width: 80%;
  margin: auto;
}
#myStatistics > div {
  width: 100%;
  margin: 10px auto;
}

#myStatistics > div:nth-child(2) > img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
}

#myStatistics > div:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#myStatistics > div:nth-child(3) > div > img {
  width: 100%;
}

#githubBoard {
  width: 80%;
  margin: auto;
}

#projects {
  width: 80%;
  margin: auto;
}

#projects > #projects-container {
  width: 100%;
}
#projects > #projects-container > div {
  width: 100%;  
  margin: 20px auto;
  padding: 5%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#projects > #projects-container > div > .project-demo > img {
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#projects > #projects-container > div > div > h3,p  {
  margin: 10px auto;
}

#projects > #projects-container > div > div > .btn_div {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#contact {
  width: 80%;
  margin: auto;
}
#contact > div:nth-child(2) {
  width: 100%;
  padding: 5% 0%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: space-around;
}

#contact-icons > div{
  width: 100%;
  margin: 10px;
}
#contact-icons > div > a {
  padding: 0% 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#contact-icons > div > a > img {
  width: 50px;
  display: block;
}
#google-sheet > form {
  width: 100%;
  padding: 0% 5%;
}

#google-sheet > form > input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
#google-sheet > form > textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#copyright {
  width: 100%;
  margin: auto;
  height: 50px;
  background-color: rgb(126, 126, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}
#copyright span {
  color: rgb(101, 44, 44);
}

/* meidum screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar > div:nth-child(2) {
    display: none;
  }

  #burger_menu {
    display: block;
    cursor: pointer;
  }

  .heading {
    font-size: 30px;
    /* width: 90vw; */
  }

  #header > h3 {
    width: 80vw;
  }

  #aboutMe > .aboutMe-container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 4fr 2fr; */
  }

  #aboutMe > .aboutMe-container > div > h3 {
    line-height: 20px;
  }

  #skills > #skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  #projects > #projects-container > div {
    grid-template-columns: 1fr;
    /* grid-template-rows: 3fr 2fr; */
  }

  #contact > div:nth-child(2) {
    /* grid-template-columns: 1fr; */
    padding: 0%;
  }
}

/* small screens */
@media screen and (min-width: 320px) and (max-width: 767px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar > div:nth-child(2) {
    display: none;
  }
  .heading {
    font-size: 25px;
    /* width: 80vw; */
  }
  #burger_menu {
    display: block;
  }

  #header > h3 {
    display: none;
  }

  #aboutMe > .aboutMe-container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 3fr 2fr; */
  }

  #aboutMe > .aboutMe-container > div > h3 {
    line-height: 20px;
  }

  #skills > #skills-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #myStatistics > div:nth-child(3) {
    grid-template-columns: repeat(1, 1fr);
  }

  #projects > #projects-container > div {
    grid-template-columns: 1fr;
  }
  #projects > #projects-container > div > div > p {
    /* display: none; */
  }

  #contact > div:nth-child(2) {
    grid-template-columns: 1fr;
    padding: 0%;
  }
}
